.banner {
    color: #ffff;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.overlay-text {
    position: relative;
    left: 1%;
    top: 30%;
    width: 50%;
}

.button {
    padding: .5rem 2rem;
    color: #ffff;
    border-radius: 7px;
    background: rgba(51, 51, 51, 0.6);
    cursor: pointer;
    margin: .3rem 1.5rem 1.5rem 0;
    outline: none;
    border: none;
}

.description {
    width: 100%;
    text-align: left;
    font-weight: 600;
    overflow-y: scroll;
    height: 106px;
}

.description::-webkit-scrollbar {
    display: none;
}

.fade {
    height: 7.8rem;
    background: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media only screen and (max-width: 600px) {

    .banner {
        color: #ffff;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        column-gap: 40px;

    }

    .overlay-text {
        position: relative;
        left: 1%;
        top: 30%;
        width: 50%;
        font-size: 60%;
    }

    .description {
        font-size: 100%;
    }

    .button {
        padding: .4rem .7rem;
        margin: 1rem .6rem 1rem 0;
    }
}